html,body{
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	word-wrap: break-word;
}

a{
	cursor: pointer; 
	color: #007bff;
	font-weight: 600;
	text-decoration: none;
}

a:hover{
	color: #a2ff00;
	text-decoration: none;
}

a:not([href]){
	color: #007bff;
	text-decoration: none;	
}

a:hover:not([href]){
	color: #fff;
	text-decoration: none;	
}

h1, h2 {
	font-weight: 900; 			
	margin-top: 20px;
	color: #007bff;			
}

h3, h4, h5, h6 {
	font-weight: 500;
	margin-top: 20px;
}

.box{
	float: left; width: 96%; margin-left: 2%; text-align: center; padding: 50px 0px 50px 0px;
}

.list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.list-flex{
	display: flex;
	align-items: center;
	justify-content: center;
	/*
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	*/
}

.list-box{
	float: left; 
	width: 31.333%;
	height: 60px;
	background: #aaa;
	color: #fff;
	padding: 1%;
	margin: 1%;	
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 1rem;
}

bold {font-weight: 900; color: #fff;}

@media all and (max-width: 1024px){
	.list-box{
		float: left; 
		width: 46%;
	}
}

@media all and (max-width: 480px){
	.list-box{
		float: left; 
		width: 96%;
	}
}